doctype html

html.no-js
  head
    title Jolly Nap

    meta(name="author" content="Eric Wright")
    meta(name="description" content="Get the most out of your nap.")
    meta(name="keywords" content="jolly nap, nap, sleepytime, sleepyti.me")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")

    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
    link(href='stylesheets/application.css' rel='stylesheet' type='text/css')

    link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"
    link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
    meta(name="apple-mobile-web-app-capable" content="yes")

    script src="javascripts/modernizr.min.js"

  body
    #fb-root

    header.site-header
      span.logo
        | Jolly Nap

      .subtitle Sleep Calculator


    .bedtime.blurb You need 6 sleep cycles to wake up rested.
    a#sleep-now.btn.primary(href='#sleep-now') Sleep now

    #wake-times

    .get-up.blurb   When do you have to wake up?
    .wake-up-container
      label(for="wake-up-time") Wake Up Time
      input#wake-up-time(type='time' name='wake-up-time' value="00:00" required)

    footer
      .share
        .fb-like(data-href="http://jollynap.com" data-send="false" data-layout="standard" data-width="320" data-show-faces="false" data-colorscheme="dark")
      script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      script src="javascripts/application.js"
      script src="javascripts/facebook.min.js"
